<div class="left">
  <div class="controlPanel">
    <div class="btn uploadBtn">Upload</div>
    <div class="btn downloadBtn">Download</div>
  </div>
</div>

<div class="right">
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
  <div class="thumbnail"></div>
</div>

